body{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;

}


.h1{
    margin: 72px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
}


.line1{
    width: 402px;
    border-bottom: 5px solid #3E45E8;
    margin-top: 25px;
}

.header{
    min-height: 55px;
    max-height: 110px;
    text-align: center;
    color: #3E45E8;
    font-family: 'M PLUS 1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 0.1em;
    padding: 30px 0;
}

.header-span{
    color:#E8C23E
}

.banner{
    background-image: url("./img/castle.png");
    height: 803px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 206px;
    padding-left: 80px;
    box-sizing: border-box;

}

.content{
    box-sizing: border-box;
    width: 80%;
    height: 272px;
    padding-left: 3%;
    background-image: url("./img/flag.png");
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: white;

}

.main{
    padding: 0 80px;
}

.card{
    width:30%;
    height: 450px;
    border-radius: 35px;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0px 4px 57px rgba(0 0 0 / 25%);
}

.card__margin{
    margin: 0 3%;
   
}

.card__image{
    width: 100%;
}

.card__title{
    color: #1E8DF2;
    font-size: 24px;
    padding: 10px;
    box-sizing: border-box;
}

.card__subtitle{
    color: #E8C23E;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    box-sizing: border-box;
}

.h2{
    text-align: center;
    margin-top: 74px;
}

.line2{
    margin: 21px auto;
}

.block_image{
    text-align: center;
    margin: 41px auto;
}

.h3{
    font-size: 64px;
    color: #FFFFFF;
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
}

.button{
    width: 591px;
    height: 121px;
    background: #2A61F0;
    margin: auto;
    margin-bottom: 21px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer{
    height: 360px;
    background-color: #2F4A4B;
    text-align: center;
}


.footer_title{
    font-family: 'M PLUS 1';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 0.1em;
    color: #3E45E8;
}

.footer_title_item{
    color: #DFE31E;
}

.contact{
    color: #A89D9D;
    font-family: 'Marcellus';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 0.1em;
    text-decoration: none;
}

